@prefix ex: <https://example.org/> .
ex:fullset ex:iteration {{ctrl.settings.iteration | ttl("xsd:boolean")}};
    ex:ctrl-first {{ctrl.isFirst | ttl("xsd:boolean")}};
    ex:ctrl-last {{ctrl.isLast | ttl("xsd:boolean")}};
    ex:ctrl-index {{ctrl.index | ttl("xsd:integer")}}.
{% if not ctrl.settings.iteration -%}
    {%- set ctrymap = map(sets['countries'], 'Alpha-3 code', 'Alpha-2 code') -%}
    {% for _ in sets['_'] -%}
        {%- set nothing = ctrymap.apply(_, 'country', 'ctry2') -%}
<{{uritexpand("https://vliz.be/code/pysubyt/test/item{#id}",_)}}>
    ex:name "{{_.name}}"^^xsd:string;
    ex:country "{{_.ctry2}}"^xsd:string.
{# force newline #}
    {%- endfor %}
    {%- for country in sets['countries'] -%}
        {%- if country['Alpha-2 code'] == 'BE' -%}
<{{uritexpand("https://iso.org/countries{/Alpha-2 code}", country)}}> ex:name {{country['English short name lower case'] | ttl('@en')}}.
{# force newline #}
        {%- endif -%}
    {%- endfor %}
{%- endif %}